@media screen and (min-width:300px) and (max-width:650px) {
    .sec{
        display: none;
    }
    .toggle-position{
        position: absolute;
        top: -26rem;
        left: 91%
    }
    .side-img {
        position: absolute;
        top: 45rem;
        left: 30px;
    }
    .side-img img{
        width: 70%;
    }
    .heading h1{
        font-size: 53px;
    }
    .scroll{
        display: none;
    }
}
/* screen for honey image */
